[Unit]
Description=Get public ip address
After=network.target

[Service]
ExecStart=source /home/maron_panic/App/tampre/backend/systemd/get_public_ip.sh
Type=simple

[Install]
WantedBy=multi-user.target
